.section{
    .discover{
        margin-bottom: 47px;
        .discover-text{

        }
    }
    .specialities{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        .speciality{
            height:517px;
            background:#000;
            position:relative;
            .text{
                position: absolute;
                bottom:72px;
                left:36px;
                color:#fff;
                text-align: left;
            }
        }
        .sp1{
            background: url('../../assets/images/model.png') no-repeat center;
            background-size: cover;
        }
        .sp2{
            background: url('../../assets/images/sp2.png') no-repeat center;
            background-size: cover;
        }
        .sp3{
            background: url('../../assets/images/sp3.png') no-repeat center;
            background-size: cover;
        }
        .sp4{
            background: url('../../assets/images/sp4.png') no-repeat center;
            background-size: cover;
        }
        .sp5{
            background: url('../../assets/images/sp5.png') no-repeat center;
            background-size: cover;
        }
    }
}
@media (min-width:500px){
    .section{
        .specialities{
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@media (min-width:900px){
    .section{
        .discover{
            margin-bottom: 100px;
            .discover-text{
                display:flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .specialities{
            grid-template-columns: repeat(5, 1fr);
        }
    }
}